<!-- commodities.component.html -->

<div>
    <h1>Welcome to Commodities Page</h1>
    <p-table
        [value]="commodities"
        [paginator]="true"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rows]="12"
        [rowsPerPageOptions]="[12,24,36]"
        [resizableColumns]="true"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Name</th>
                <th pSortableColumn="code">Code</th>
                <th pSortableColumn="kind">Kind</th>
                <th pSortableColumn="price_buy">Buy Price</th>
                <th pSortableColumn="price_sell">Sell Price</th>
                <th>Availability </th>
                <th>Refinement</th>
                <th>Harvestable</th>
                <th>Tradeability</th>
                <th>Permanence</th>
                <th pSortableColumn="legality">Legality <p-sortIcon field="legality"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-commodity>
            <tr>
                <td>{{ commodity.name }}</td>
                <td>{{ commodity.code }}</td>
                <td>{{ commodity.kind }}</td>
                <td>{{ commodity.price_buy }} aUEC</td>
                <td>{{ commodity.price_sell }} aUEC</td>
                <td>{{ commodity.availability }}</td>
                <td>{{ commodity.refinement }}</td>
                <td>{{ commodity.harvestability }}</td>
                <td>{{ commodity.tradeability }}</td>
                <td>{{ commodity.permanence }}</td>
                <td>{{ commodity.legality }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
