@import "primeicons/primeicons.css";

.sidebar {
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color); /* Indigo background color */
    padding-top: 64px; /* Adjust padding to align with toolbar height */
    .p-menubar {
        height: 75%;
        width: 125px; /* Adjust the height as needed */
        padding: 15px;
        justify-content: center;
    }
    
  }
  
.content {
  margin-left: 125px; /* Width of the sidebar */
  margin-top: 75px;
  padding: 50px; /* Optional padding for content area */ 
}

.p-toolbar {
  position: fixed; /* Fixed positioning for both toolbar and menubar */
  top: 0; /* Position at the top */
  left: 0;
  width: 100%; /* Take full width of the viewport */
  height: 75px;
  z-index: 1000; /* Ensure the toolbar and menubar appear above other content */
  background-color: var(--primary-color);
}

/* styles.css or your component-specific CSS file */
.left-content {
  float: left;
  margin-right: 10px; /* Adjust margin as needed */
}

.center-content {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 75%; /* Ensure the image fits within the toolbar */
  max-height: 75%; /* Ensure the image fits within the toolbar */
}


  