@import "primeicons/primeicons.css";

.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color); /* Indigo background color */
    padding-top: 64px;
    .p-menubar {
        height: 95%;
        width: 125px;
        padding: 15px;
        justify-content: center;
    }
    
  }
  
.content {
  margin-left: 125px; /* Width of the sidebar */
  margin-top: 75px;
  padding-left: 50px;
  padding-right: 20px;
}

.p-toolbar {
  position: fixed; /* Fixed positioning for both toolbar and menubar */
  top: 0; /* Position at the top */
  left: 0;
  width: 100%; /* Take full width of the viewport */
  height: 75px;
  z-index: 1000; /* Ensure the toolbar and menubar appear above other content */
  background-color: var(--primary-color);
}

.left-content {
  float: left;
  margin-right: 10px; /* Adjust margin as needed */
}

.center-content {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 75%;
  max-height: 75%;
}

.wrapper {
  background-image: url('assets/ARGORaft.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Other background properties as needed */
}


  